{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "main_site/js/get_service.js" %}"></script>
{% endblock %}

{% block title %}
    Выбор услуги
{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static "main_site/css/online_booking.css" %}">
    <link rel="stylesheet" href="{% static "main_site/css/choose_workers.css" %}">
    <link rel="stylesheet" href="{% static "main_site/css/get_service.css" %}">
{% endblock %}

{% block content %}
    <div class="container-wrapper">
        <div class="header-container"></div>
        <div class="header-panel">
            <div class="back-logo">
                <a class="back_btn" href="{{ back_url }}">
                    <img src="{% static "main_site/img/back_arrow.svg" %}">
                </a>
                {% if settings.logo %}
                    <a class="logo" href="{% url "homepage" %}">
                        <img src="{{ settings.logo.url }}" alt="">
                    </a>
                {% endif %}
            </div>
            <div>
                <div class="title">Завиток</div>
                <div class="address">Никитина 16</div>
            </div>
        </div>
        <div class="container">
            <div class="menu-items-container">
                {% for subgroup, services in services_by_subgroup.items %}
                    <div class="subgroup-container">
                        <h3 class="subgroup-title">{{ subgroup.name }}</h3>
                        {% for service in services %}
                            <div class="item-container" id="{{ service.id }}">
                                <div class="service-item-container">
                                    <div class="service-item">
                                        <div class="service-title">{{ service.name }}</div>
                                        <div class="service-time_over">{{ service.time_over }} min
                                            <div class="service_description"></div>
                                        </div>
                                        <div class="service-price">от {{ service.price|floatformat:0 }} ₽</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="content">
                                        <label class="checkBox">
                                            <input id="service_{{ service.id }}" type="checkbox" name="service-select">
                                            <div class="transition"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="action_btn_container" data-url="{{ action_url }}">
            <div class="action_text">
                {{ action_text }}
            </div>
        </div>
    </div>
{% endblock %}